name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} << EOF
            export MONGO_URI=${{ secrets.MONGO_URI_PROD }}
            export PORT=5000
            export NODE_ENV=production
            export JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }}
            export APP_DOMAIN=${{ secrets.APP_DOMAIN }}

            if [ ! -d "taskmate" ]; then
              git clone https://github.com/aalok-infobeans/taskmate.git
            fi

            cd taskmate
            git pull origin main

            docker compose down

            MONGO_URI=$MONGO_URI \
            PORT=$PORT \
            NODE_ENV=$NODE_ENV \
            JWT_SECRET_KEY=$JWT_SECRET_KEY \
            APP_DOMAIN=$APP_DOMAIN \
            docker compose up --build -d
          EOF
